// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Colours

$paleOrange: #ffdfbf;
$orange: #ff8833;
$darkOrange: #e67300;

$red: #c00;
$darkRed: #900;
$chocolate: #311;

$paleBlue: #e5eeff;
$grey: #eee;
$grey2: #ddd;
$pink: #ffd2ff;
$purple: #c9abff;

$spring: #d4ffbf;
$spring-border: #99e673;
$summer: #ffffbf;
$summer-border: #ffd480;
$autumn: #ffbfbf;
$autumn-border: #ff8080;
$winter: #bfdfff;
$winter-border: #80bfff;

////////////////////////////////////////////////////////////////////////////////////////////////////
// Elements

body {
  @media (min-width: 768px) {
    margin-top: 20px;
  }

  background-image: url("../images/stars-tileable.jpg");
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
}

h2 {
  font-size: 25px;
}

a {
  color: $red;

  &:active,
  &:focus,
  &:visited {
    color: $red;
  }

  &:hover {
    color: $orange;
    text-decoration: underline;
  }
}

ol,
ul {
  padding-left: 30px;
}

sup,
sub {
  line-height: 0;
  font-size: 10px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Background

#background-layer {
  background-image: url("../images/hires-Mars-transparent-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 20px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Header

.page-header {
  margin: 0;
  padding: 0 0 15px;
}

#header {
  padding: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Footer

.footer {
  color: white;

  a,
  .nav > li > a {
    display: inline-block;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Blocks

//#block-mdc-main-menu {
//  margin: 0 10px;
//
//  > ul {
//    background-color: $darkBlue;
//    width: 100%;
//
//    a {
//      color: white;
//    }
//
//    > li > a.is-active {
//      background-color: $lightBlue;
//    }
//
//    > li > a:focus {
//      background-color: $red;
//    }
//  }
//}

#block-booknavigation {
  margin: 15px 0;

  > h2 {
    display: none;
  }

  nav > ul {
    padding-left: 0;
    list-style-type: none;

    > li > a {
      font-weight: bold;
    }
  }
}

#block-mdc-search {
  .form-group {
    margin: 0;
  }
}

.btn-primary {
  background-color: $red;
  border-color: $darkRed;

  &:hover,
  &:active,
  &.active,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus,
  &:focus,
  &.focus {
    background-color: $orange;
    border-color: $darkOrange;
  }
}

//#block-bookcontents {
#block-calendar {
  font-size: 16px;
  padding-top: 13px;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  > ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  a {
    padding: 2px 5px;
    margin: 2px 0;
    display: block;
    width: 100%;
    @include border-radius(3px);

    &:hover {
      background-color: $orange;
      color: white;
      text-decoration: none;
    }

    &:focus {
      background-color: mix($red, $orange, 25%);
      color: white;
    }
  }

  li.active a {
    background-color: $red;
    color: white;
    font-weight: bold;
  }
}

#block-imrs {
  img {
    width: 100%;
  }
}

#block-copyrightnotice {
  margin: 15px 0;
}

#block-mdc-socialicons {
  padding-bottom: 10px !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Sections

#branding {
  display: block;

  .logo {
    display: inline-block;
    float: none !important;
    text-align: center;
    margin: 10px 10px 0;

    @media (min-width: 768px) {
      margin: 0;
    }

    img {
      max-width: 100%;
    }
  }

  .navbar-text {
    color: white;
    font-size: 16px;
    font-style: italic;
    margin: 5px 10px 10px;

    @media (min-width: 768px) {
      font-size: 24px;
      margin: 5px 0 10px;
    }
  }
}

#left-sidebar,
#right-sidebar {
  //background-color: rgba(255, 223, 191, .9);
  background-color: $paleOrange;

  .block {
    padding: 20px 0;
    border-bottom: solid 1px $orange;

    .field--name-body {
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: 768px) {
  #left-sidebar {
    @include border-radius(10px 0 0 10px);
  }

  #right-sidebar {
    @include border-radius(0 10px 10px 0);
  }
}

#content {
  background-color: white;
  padding: 15px;

  ul.links {
    display: none;
  }

  margin: 0 0 30px;

  img {
    text-align: center;
    margin: 0 auto 10px;
    max-width: 100%;
  }

  li {
    margin: 10px 0;
  }

  table {
    margin: 10px auto;
  }

  caption {
    font-style: italic;
    color: black;
    font-size: 14px;
  }

  td,
  th {
    border: solid 1px $orange;
    padding: 5px;
    font-size: 14px;
  }

  thead td,
  th {
    font-weight: bold;
    background-color: $paleOrange;
  }

  tfoot td {
    font-weight: bold;
    background-color: $paleOrange;
  }

  th.planet {
    text-align: center;
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////
  // Calendar pages

  #calendar-pages {
    text-align: center;
  }

  .calendar-page {
    margin: 4px;
    display: inline-block;

    td,
    th {
      text-align: center;
      vertical-align: middle;
      padding: 4px;
      font-size: 12px;
    }

    tr.squares {
      td,
      th {
        width: 23px;
        height: 23px;
      }
    }

    tr.daysOfWeek th {
      font-weight: bold;
    }

    th.monthName {
      font-size: 16px;
      font-weight: bold;
    }

    td.monthIcon {
      background-color: transparent;

      img {
        margin: 5px;
        height: 120px;
      }
    }

    .empty {
      background-color: $grey;
    }
  }

  .spring {
    td,
    th {
      border-color: $spring-border;
    }

    th {
      background-color: $spring;
    }
  }

  .summer {
    td,
    th {
      border-color: $summer-border;
    }

    th {
      background-color: $summer;
    }
  }

  .autumn {
    td,
    th {
      border-color: $autumn-border;
    }

    th {
      background-color: $autumn;
    }
  }

  .winter {
    td,
    th {
      border-color: $winter-border;
    }

    th {
      background-color: $winter;
    }
  }

  .special-sol {
    font-weight: bold;
  }

  .vernal-equinox {
    background-color: $spring-border;
  }

  .summer-solstice {
    background-color: $summer-border;
  }

  .autumnal-equinox {
    background-color: $autumn-border;
  }

  .winter-solstice {
    background-color: $winter-border;
  }

  .aphelion {
    background-color: $purple;
  }

  .perihelion {
    background-color: $pink;
  }

  .intercalary {
    background-color: $grey2;
  }

  table.calculation {
    margin-left: 20px;
    margin-right: 0;

    td {
      padding: 2px;
      border: none;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Table styles

td.num,
th.num {
  text-align: right;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Miscellaneous

.author {
  display: none;
}

.book-nav {
  display: none;
  //  background-color: $paleOrange;
  //  padding: 5px;
  //  @include border-radius(5px);
  //  margin-bottom: 15px;
  //
  //  table {
  //    width: 100%;
  //  }
  //
  //  .prev-page {
  //    text-align: left;
  //  }
  //
  //  .up-page {
  //    text-align: center;
  //  }
  //
  //  .next-page {
  //    text-align: right;
  //  }
}

.breadcrumb {
  background-color: transparent;
}

.alert {
  margin: 15px 0;
}

ol.breadcrumb {
  margin: 15px 0;
  padding: 0;
}

ul.links {
  margin: 25px 0 5px;
}

#social-icons {
  margin: 10px 0;

  p {
    margin: 0;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px 2px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

nav.tabs {
  margin: 15px 0;
}

.math {
  margin-left: 20px;
}

span.tab {
  display: inline-block;
  width: 75px;
  margin-left: 20px;
}

.fixed-width25 {
  display: inline-block;
  width: 25px;
}

.fixed-width50 {
  display: inline-block;
  width: 50px;
}

.fixed-width75 {
  display: inline-block;
  width: 75px;
}

.fixed-width100 {
  display: inline-block;
  width: 100px;
}

.indent {
  margin-left: 20px;
}

figure {
  text-align: center;
  margin: 0 auto 10px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

blockquote {
  font-size: inherit;
  font-style: italic;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Pagination

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $red;
  border-color: $darkRed;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: $red;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Mars clock

#block-utopiandateandtime {
  h2 {
    font-size: 16px;
    margin-top: 0;
  }

  #mars-clock {
    div {
      text-align: center;
      font-size: 14px;
      margin: 5px 0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Datetime converter

#converter {
  #btn-reset-converter {
    padding: 3px 6px;
  }

  h3 {
    color: black;
    font-size: 18px;
  }

  h3,
  p {
    margin: 5px 0;
  }

  label {
    margin-bottom: 0;
    font-weight: normal;
  }

  .date-part {
    text-align: left;
    display: inline-block;

    label {
      font-size: 12px;
    }
  }

  #year,
  #mir {
    width: 50px;
  }

  #earth-time,
  #mars-time {
    width: 75px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Stuff that is common to both clock and converter.

.converter-panel {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  @include border-radius(5px);
  margin: 5px 0;

  input,
  select {
    display: inline-block;
    height: 24px;
    padding: 2px 4px;
    width: auto;
    max-width: 100%;
  }

  span {
    font-weight: bold;
  }
}

.mars {
  background-color: $autumn;

  &,
  th,
  td {
    border-color: $autumn-border;
  }
}

.mars-weekend {
  background-color: lighten($autumn, 5%);
}

.earth {
  background-color: $winter;

  &,
  th,
  td {
    border-color: $winter-border;
  }
}

.earth-weekend {
  background-color: lighten($winter, 5%);
}

.weekday {
  background-color: #efefef;
}
