// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Colours

$paleOrange: #ffdfbf;
$orange: #ff8200;
$red: #c00;
$darkRed: #900;
$chocolate: #311;

$paleBlue: #e5eeff;
$grey: #eee;

$calendar1: #BFFFCF;
$calendar2: #DFFFBF;
$calendar3: #FFEFBF;
$calendar4: #FFBFBF;
$calendar5: #FFBFEF;
$calendar6: #DFBFFF;
$calendar7: #BFCFFF;
$calendar8: #BFFFFF;

////////////////////////////////////////////////////////////////////////////////////////////////////
// Elements

body {
  background-color: $chocolate;
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
}

h2 {
  font-size: 25px;
}

a {
  color: $red;

  &:active,
  &:focus,
  &:visited {
    color: $red;
  }

  &:hover {
    color: $orange;
    text-decoration: underline;
  }
}

ol,
ul {
  padding-left: 30px;
}

sup,
sub {
  line-height: 0;
  font-size: 10px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Header

.page-header {
  margin: 15px 0;
  padding: 0;
}

#header {
  padding: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Footer

.footer {
  color: white;

  a,
  .nav > li > a {
    display: inline-block;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Blocks

//#block-mdc-main-menu {
//  margin: 0 10px;
//
//  > ul {
//    background-color: $darkBlue;
//    width: 100%;
//
//    a {
//      color: white;
//    }
//
//    > li > a.is-active {
//      background-color: $lightBlue;
//    }
//
//    > li > a:focus {
//      background-color: $red;
//    }
//  }
//}

#block-booknavigation {
  margin: 15px 0;

  > h2 {
    display: none;
  }

  nav > ul {
    padding-left: 0;
    list-style-type: none;

    > li > a {
      font-weight: bold;
    }
  }
}

#block-mdc-search {
  .form-group {
    margin: 0;
  }
}

#block-bookcontents {
  > ul {
    margin-bottom: 0;
  }

  .top-page {
    font-weight: bold;
    font-size: 16px;
  }

  .current-page {
    color: $orange;
    font-weight: bold;
  }

  //.unpublished-page {
  //  color: silver;
  //}
}

#block-imrs {
  img {
    width: 100%;
  }
}

#block-copyrightnotice {
  margin: 15px 0;
}

#block-mdc-socialicons {
  padding-bottom: 10px !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Sections

#branding {
  display: block;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

#left-sidebar {
  background-color: $paleOrange;
  border-radius: 10px 0 0 10px;

  .block {
    padding: 20px 0;
    border-bottom: solid 1px $orange;

    .field--name-body {
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

#content {
  background-color: white;
  border-radius: 0 10px 10px 0;

  .field--name-body {
    margin: 0 0 15px;

    img {
      text-align: center;
      margin: 0 auto 10px;
      max-width: 100%;
    }

    li {
      margin: 10px 0;
    }

    table {
      margin: 10px auto;
    }

    caption {
      font-style: italic;
      color: black;
    }

    td,
    th {
      border: solid 1px $orange;
      padding: 5px;
    }

    thead td,
    th {
      font-weight: bold;
      background-color: $paleOrange;
    }

    tfoot td {
      font-weight: bold;
      background-color: $paleOrange;
    }

    th.planet {
      text-align: center;
    }

    th.earth {
      background-color: $paleBlue;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Table styles

td.num,
th.num {
  text-align: right;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Miscellaneous

.author {
  display: none;
}

.book-nav {
  background-color: $paleOrange;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;

  table {
    width: 100%;
  }

  .prev-page {
    text-align: left;
  }

  .up-page {
    text-align: center;
  }

  .next-page {
    text-align: right;
  }
}

.breadcrumb {
  background-color: transparent;
}

.logo {
  display: inline-block;
  padding-left: 15px;
  float: none !important;

  img {
    width: 100%;
  }
}

.alert {
  margin: 15px 0;
}

ol.breadcrumb {
  margin: 15px 0;
  padding: 0;
}

ul.links {
  margin: 25px 0 5px;
}

#social-icons {
  margin: 10px 0;

  p {
    margin: 0;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px 2px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

nav.tabs {
  margin: 15px 0;
}

article.book {
  margin: 15px 0;
}

.math {
  margin-left: 20px;
}

span.tab {
  display: inline-block;
  width: 75px;
  margin-left: 20px;
}

div.indent {
  margin-left: 20px;
}

figure {
  text-align: center;
  margin: 0 auto 10px;
}

figcaption {
  text-align: center;
}

blockquote {
  font-size: inherit;
  font-style: italic;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Calendar pages

#content .field--name-body .calPage {
  margin: 5px;
  display: inline-block;

  td,
  th {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    padding: 4px;
  }

  th.dayOfWeek {
    font-weight: bold;
  }

  th.monthName {
    font-size: 18px;
    font-weight: bold;
  }

  td.monthIcon {
    background-color: transparent;

    img {
      margin: 5px;
      height: 120px;
    }
  }
}

.calendar1 {
  background-color: $calendar1;
}

.calendar2 {
  background-color: $calendar2;
}

.calendar3 {
  background-color: $calendar3;
}

.calendar4 {
  background-color: $calendar4;
}

.calendar5 {
  background-color: $calendar5;
}

.calendar6 {
  background-color: $calendar6;
}

.calendar7 {
  background-color: $calendar7;
}

.calendar8 {
  background-color: $calendar8;
}

.intercalary {
  color: $red;
}

.empty {
  background-color: $grey;
}
