// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Colours

$paleOrange: #ffdfbf;
$orange: #ff8200;
$red: #c00;
$darkRed: #900;
$chocolate: #311;

$paleBlue: #e5eeff;
$grey: #eee;

$spring: #d4ffbf;
$spring-border: #99e673;
$summer: #ffffbf;
$summer-border: #ffd480;
$autumn: #ffbfbf;
$autumn-border: #ff8080;
$winter: #bfdfff;
$winter-border: #80bfff;

////////////////////////////////////////////////////////////////////////////////////////////////////
// Elements

body {
  @media (min-width: 768px) {
    margin-top: 20px;
  }

  background-image: url("../images/stars-tileable.jpg");
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
}

h2 {
  font-size: 25px;
}

a {
  color: $red;

  &:active,
  &:focus,
  &:visited {
    color: $red;
  }

  &:hover {
    color: $orange;
    text-decoration: underline;
  }
}

ol,
ul {
  padding-left: 30px;
}

sup,
sub {
  line-height: 0;
  font-size: 10px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Background

@media (min-width: 768px) {
  #background-layer {
    background-image: url("../images/hires-Mars-transparent-bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Header

.page-header {
  margin: 0;
  padding: 0 0 15px;
}

#header {
  padding: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Footer

.footer {
  color: white;

  a,
  .nav > li > a {
    display: inline-block;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Blocks

//#block-mdc-main-menu {
//  margin: 0 10px;
//
//  > ul {
//    background-color: $darkBlue;
//    width: 100%;
//
//    a {
//      color: white;
//    }
//
//    > li > a.is-active {
//      background-color: $lightBlue;
//    }
//
//    > li > a:focus {
//      background-color: $red;
//    }
//  }
//}

#block-booknavigation {
  margin: 15px 0;

  > h2 {
    display: none;
  }

  nav > ul {
    padding-left: 0;
    list-style-type: none;

    > li > a {
      font-weight: bold;
    }
  }
}

#block-mdc-search {
  .form-group {
    margin: 0;
  }
}

.btn-primary {
  background-color: $red;
  border-color: $darkRed;

  &:hover,
  &:active,
  &.active,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus,
  &:focus,
  &.focus {
    background-color: $orange;
    border-color: $darkRed;
  }
}

#block-bookcontents {
  > ul {
    margin-bottom: 0;
  }

  .top-page {
    font-weight: bold;
    font-size: 16px;
  }

  .current-page {
    color: $orange;
    font-weight: bold;
  }
}

#block-imrs {
  img {
    width: 100%;
  }
}

#block-copyrightnotice {
  margin: 15px 0;
}

#block-mdc-socialicons {
  padding-bottom: 10px !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Sections

#branding {
  display: block;
  background-color: white;
  @include border-radius(0 0 10px 10px);
}

#left-sidebar,
#right-sidebar {
  //background-color: rgba(255, 223, 191, .9);
  background-color: $paleOrange;

  .block {
    padding: 20px 0;
    border-bottom: solid 1px $orange;

    .field--name-body {
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: 768px) {
  #left-sidebar {
    @include border-radius(10px 0 0 10px);
  }

  #right-sidebar {
    @include border-radius(0 10px 10px 0);
  }
}

#content {
  //background-color: rgba(255, 255, 255, .9);
  background-color: white;
  padding: 15px;

  .field--name-body {
    margin: 0 0 15px;

    img {
      text-align: center;
      margin: 0 auto 10px;
      max-width: 100%;
    }

    li {
      margin: 10px 0;
    }

    table {
      margin: 10px auto;
    }

    caption {
      font-style: italic;
      color: black;
    }

    td,
    th {
      border: solid 1px $orange;
      padding: 5px;
    }

    thead td,
    th {
      font-weight: bold;
      background-color: $paleOrange;
    }

    tfoot td {
      font-weight: bold;
      background-color: $paleOrange;
    }

    th.planet {
      text-align: center;
    }

    th.earth {
      background-color: $paleBlue;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Table styles

td.num,
th.num {
  text-align: right;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Miscellaneous

.author {
  display: none;
}

.book-nav {
  background-color: $paleOrange;
  padding: 5px;
  @include border-radius(5px);
  margin-bottom: 15px;

  table {
    width: 100%;
  }

  .prev-page {
    text-align: left;
  }

  .up-page {
    text-align: center;
  }

  .next-page {
    text-align: right;
  }
}

.breadcrumb {
  background-color: transparent;
}

.logo {
  display: inline-block;
  padding-left: 15px;
  float: none !important;

  img {
    width: 100%;
  }
}

.alert {
  margin: 15px 0;
}

ol.breadcrumb {
  margin: 15px 0;
  padding: 0;
}

ul.links {
  margin: 25px 0 5px;
}

#social-icons {
  margin: 10px 0;

  p {
    margin: 0;
  }

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px 2px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

nav.tabs {
  margin: 15px 0;
}

.math {
  margin-left: 20px;
}

span.tab {
  display: inline-block;
  width: 75px;
  margin-left: 20px;
}

.indent {
  margin-left: 20px;
}

figure {
  text-align: center;
  margin: 0 auto 10px;
}

figcaption {
  text-align: center;
}

blockquote {
  font-size: inherit;
  font-style: italic;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Calendar pages

#content .field--name-body {
  .calPage {
    margin: 5px;
    display: inline-block;

    td,
    th {
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
      padding: 4px;
    }

    tr.squares {
      td,
      th {
        width: 23px;
        height: 23px;
      }
    }

    tr.daysOfWeek th {
      font-weight: bold;
    }

    th.monthName {
      font-size: 16px;
      font-weight: bold;
    }

    td.monthIcon {
      background-color: transparent;

      img {
        margin: 5px;
        height: 120px;
      }
    }

    .intercalary {
      color: $red;
    }

    .empty {
      background-color: $grey;
    }
  }

  .spring {
    td,
    th {
      border-color: $spring-border;
    }

    th {
      background-color: $spring;
    }
  }

  .summer {
    td,
    th {
      border-color: $summer-border;
    }

    th {
      background-color: $summer;
    }
  }

  .autumn {
    td,
    th {
      border-color: $autumn-border;
    }

    th {
      background-color: $autumn;
    }
  }

  .winter {
    td,
    th {
      border-color: $winter-border;
    }

    th {
      background-color: $winter;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Pagination

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $red;
  border-color: $darkRed;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: $red;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
// Mars clock

#block-utopiandateandtime {
  h2 {
    font-size: 16px;
    margin-top: 0;
  }

  #marsClock {
    background-color: white;
    @include border-radius(10px);
    border: 1px solid #ccc;
    padding: 5px;

    div {
      text-align: center;
      font-size: 14px;
      margin: 5px 0;
      font-weight: bold;

      select {
        max-width: 100%;
      }
    }
  }
}
