{#
/**
 * @file
 * Template for the datetime converter page.
 */
#}

<p>On this page you can convert between Terran (Gregorian) and Martian (Utopian) datetimes. Find out
  when your birthday is on Mars!</p>

<div id="converter">
  <p>
    <button id="btn-reset-converter" class="btn btn-primary">Reset to now
    </button>
  </p>

  <form>
    <div class="converter-panel earth">
      <h3>Gregorian</h3>
      <div>
        <div class="date-part">
          <label>Year</label>
          <br>
          <input id="year" class="earth-date form-text form-control">
        </div>
        <div class="date-part">
          &nbsp;
          <br>
          <b>-</b>
        </div>
        <div class="date-part">
          <label>Month</label>
          <br>
          <select id="earth-month" class="earth-date form-select form-control"></select>
        </div>
        <div class="date-part">
          &nbsp;
          <br>
          <b>-</b>
        </div>
        <div class="date-part">
          <label>Day</label>
          <br>
          <select id="day" class="earth-date form-select form-control"></select>
        </div>
        <div class="date-part">
          &nbsp;
          <br>
          <b>T</b>
        </div>
        <div class="date-part">
          <label>Time</label>
          <br>
          <input id="earth-time" class="earth-date form-text form-control">
        </div>
      </div>
      <p><label>Time zone:</label> <select id="earth-time-zone"
        class="earth-date form-select form-control">
        <option value="local" selected>Local</option>
        <option value="utc">UTC</option>
      </select></p>
      <p><label>Month:</label> <span id="earth-month-name"></span></p>
      <p><label>Day:</label> <span id="day-name"></span></p>
      <p><span id="day-of-week"></span> day of the week</p>
      <p><span id="day-of-year"></span> day of the year</p>
    </div>
    <div class="converter-panel mars">
      <h3>Utopian</h3>
      <div>
        <div class="date-part">
          &nbsp;
          <br>
          <b>M</b>
        </div>
        <div class="date-part">
          <label>Mir</label>
          <br>
          <input id="mir" class="mars-date form-text form-control">
        </div>
        <div class="date-part">
          &nbsp;
          <br>
          <b>/</b>
        </div>
        <div class="date-part">
          <label>Month</label>
          <br>
          <select id="mars-month" class="mars-date form-select form-control"></select>
        </div>
        <div class="date-part">
          &nbsp;
          <br>
          <b>/</b>
        </div>
        <div class="date-part">
          <label>Sol</label>
          <br>
          <select id="sol" class="mars-date form-select form-control"></select>
        </div>
        <div class="date-part">
          &nbsp;
          <br>
          <b>:</b>
        </div>
        <div class="date-part">
          <label>Time</label>
          <br>
          <input id="mars-time" class="mars-date form-text form-control">
        </div>
      </div>
      <p><label>Time zone:</label> <select id="mars-time-zone"
        class="mars-date form-select form-control">
        <option value='-5'>MTC-5 (Amazonis)</option>
        <option value='-4'>MTC-4 (Olympus)</option>
        <option value='-3'>MTC-3 (Tharsis)</option>
        <option value='-2'>MTC-2 (Marineris)</option>
        <option value='-1'>MTC-1 (Argyre)</option>
        <option value='0' selected>MTC (Noachis)</option>
        <option value='1'>MTC+1 (Arabia)</option>
        <option value='2'>MTC+2 (Hellas)</option>
        <option value='3'>MTC+3 (Utopia)</option>
        <option value='4'>MTC+4 (Elysium)</option>
        <option value='5'>MTC+5 (Arcadia)</option>
      </select></p>
      <p><label>Month:</label> <span id="mars-month-name"></span></p>
      <p><label>Sol:</label> <span id="sol-name"></span></p>
      <p><span id="sol-of-week"></span> sol of the week</p>
      <p><span id="sol-of-mir"></span> sol of the mir</p>
    </div>
  </form>
</div>
